*{
    box-sizing: border-box;
    position: relative;
}

body{
    font-family: Overpass, sans-serif;
    background-color: #010110;
    color: white;
}

.btn{
    color: white;
    background-color: #565656;
    padding: 1rem 3rem;
    text-transform: uppercase;
}

.img{
    width:20rem;
    height: auto;
    object-fit: contain;
}
.container-col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    gap: 1rem;
    text-align: center;
}
.container-row{
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 1rem;
    text-align: center;
}

